In [1]:
import pandas as pd
file_path = "/content/201807_청구정보.csv"
df = pd.read_csv(file_path)
pd.set_option('display.max_columns', None)
df

,기준년월,발급회원번호,대표결제일,대표결제방법코드,대표청구지고객주소구분코드,대표청구서수령지구분코드,청구서수령방법,청구서발송여부_B0,청구서발송여부_R3M,청구서발송여부_R6M,청구금액_B0,청구금액_R3M,청구금액_R6M,포인트_마일리지_건별_B0M,포인트_마일리지_건별_R3M,포인트_포인트_건별_B0M,포인트_포인트_건별_R3M,포인트_마일리지_월적립_B0M,포인트_마일리지_월적립_R3M,포인트_포인트_월적립_B0M,포인트_포인트_월적립_R3M,포인트_적립포인트_R12M,포인트_적립포인트_R3M,포인트_이용포인트_R12M,포인트_이용포인트_R3M,포인트_잔여포인트_B0M,마일_적립포인트_R12M,마일_적립포인트_R3M,마일_이용포인트_R12M,마일_이용포인트_R3M,마일_잔여포인트_B0M,할인건수_R3M,할인금액_R3M,할인건수_B0M,할인금액_B0M,할인금액_청구서_R3M,할인금액_청구서_B0M,상환개월수_결제일_R6M,상환개월수_결제일_R3M,선결제건수_R6M,선결제건수_R3M,연체건수_R6M,연체건수_R3M,혜택수혜금액_R3M,포인트_마일리지_환산_B0M,혜택수혜금액
0,201807,SYN_0,27,2,_,S,03.LMS,1,1,1,1222688,4658805,8869367,0,0,1444,1827,0,0,0,0,3460,1827,4008,1296,0,0,0,0,0,0,0,0,0,0,0,0,5,3,0,0,1,0,328,0,0
1,201807,SYN_1,13,2,002,1,01.우편,1,1,1,583483,1053031,1686162,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,30479,16319,6,3,0,0,0,0,0,0,0
2,201807,SYN_2,25,2,002,1,01.우편,1,1,1,67452,483423,701182,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,8,1050,0,0,1281,574,4,3,0,0,0,0,1975,0,0
3,201807,SYN_3,5,2,_,2,02.이메일,1,1,1,17501,51507,93318,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,6,3,0,0,0,0,0,0,0
4,201807,SYN_4,23,2,_,2,02.이메일,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2999995,201807,SYN_2999995,1,2,002,1,01.우편,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2999996,201807,SYN_2999996,25,2,002,1,01.우편,1,1,1,1184233,3733392,9024754,0,0,1745,3564,0,0,0,0,12169,3564,9938,2913,0,0,0,0,0,0,0,0,0,0,1564,0,6,3,0,0,0,0,11018,0,4360
2999997,201807,SYN_2999997,1,2,001,1,01.우편,1,1,1,864365,2610467,5061051,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,35768,1,12995,27526,14814,5,3,0,0,1,0,40051,0,11830
2999998,201807,SYN_2999998,1,2,_,2,02.이메일,1,1,1,120959,457077,1093012,0,0,0,0,0,0,0,5141,0,5141,20946,5879,0,0,0,0,0,0,8,9908,5,0,10008,0,6,3,0,0,0,0,12870,0,5119
2999999,201807,SYN_2999999,25,2,001,1,01.우편,1,1,1,310807,1675442,3888100,0,0,0,2139,0,0,0,0,2706,2139,0,0,0,0,0,0,0,0,8,1225,0,0,1452,0,6,3,0,0,0,0,2029,0,0

In [4]:
import pandas as pd
file_path = "/content/201807_청구정보.csv"
df = pd.read_csv(file_path)
pd.set_option('display.max_columns', None)

selected_columns_07 = df[['청구금액_B0', '청구금액_R6M', '선결제건수_R6M', '연체건수_R6M']]
selected_columns_07.to_csv('selected_columns_07.csv', index=False)
print(selected_columns_07)

         청구금액_B0  청구금액_R6M  선결제건수_R6M  연체건수_R6M
0        1222688   8869367          0         1
1         583483   1686162          0         0
2          67452    701182          0         0
3          17501     93318          0         0
4              0         0          0         0
...          ...       ...        ...       ...
2999995        0         0          0         0
2999996  1184233   9024754          0         0
2999997   864365   5061051          0         1
2999998   120959   1093012          0         0
2999999   310807   3888100          0         0

[3000000 rows x 4 columns]

In [1]:
import pandas as pd
file_path2 = "/content/201808_청구정보.csv"
df2 = pd.read_csv(file_path2)
pd.set_option('display.max_columns', None)

selected_columns_08 = df2[['청구금액_B0']]
selected_columns_08.to_csv('selected_columns_08.csv', index=False)
print(selected_columns_08)

         청구금액_B0
0        1575688
1         320956
2              0
3          23036
4              0
...          ...
2999995        0
2999996  1128628
2999997   631940
2999998   139406
2999999   336907

[3000000 rows x 1 columns]

In [5]:
import pandas as pd
file_path3 = "/content/201809_청구정보.csv"
df3 = pd.read_csv(file_path3)
pd.set_option('display.max_columns', None)

selected_columns_09 = df3[['청구금액_B0']]
selected_columns_09.to_csv('selected_columns_09.csv', index=False)

print(selected_columns_09)

         청구금액_B0
0        1573204
1         342882
2              0
3          25680
4              0
...          ...
2999995        0
2999996  1120940
2999997   567754
2999998   204535
2999999   200721

[3000000 rows x 1 columns]

In [4]:
3import pandas as pd
file_path4 = "/content/201810_청구정보.csv"
df4 = pd.read_csv(file_path4)
pd.set_option('display.max_columns', None)

selected_columns_10 = df4[['청구금액_B0']]
selected_columns_10.to_csv('selected_columns_10.csv', index=False)
print(selected_columns_10)

         청구금액_B0
0        1422787
1         288891
2              0
3          28831
4              0
...          ...
2999995        0
2999996  1022092
2999997   840505
2999998   144763
2999999        0

[3000000 rows x 1 columns]

In [3]:
import pandas as pd
file_path5 = "/content/201811_청구정보.csv"
df5 = pd.read_csv(file_path5)
pd.set_option('display.max_columns', None)

selected_columns_11 = df5[['청구금액_B0']]
selected_columns_11.to_csv('selected_columns_11.csv', index=False)
#print(selected_columns)

print(selected_columns_11)

         청구금액_B0
0        1395860
1         320850
2              0
3          30241
4              0
...          ...
2999995        0
2999996   759668
2999997   520714
2999998   177098
2999999        0

[3000000 rows x 1 columns]

In [2]:
import pandas as pd
file_path6 = "/content/201812_청구정보.csv"
df6 = pd.read_csv(file_path6)
pd.set_option('display.max_columns', None)

selected_columns_12 = df6[['청구금액_B0', '선결제건수_R6M', '연체건수_R6M']]

print(selected_columns_12)

         청구금액_B0  선결제건수_R6M  연체건수_R6M
0        1397688          0         0
1         244226          0         0
2              0          0         0
3          31732          0         0
4              0          0         0
...          ...        ...       ...
2999995        0          0         0
2999996  1128097          0         0
2999997   705453          0         0
2999998   185968          0         0
2999999        0          0         3

[3000000 rows x 3 columns]